doctype html
html(lang="en")
  head
    block title
    meta(charset="utf-8")
    link(rel="icon" type="image/png" sizes="32x32" href="./static/images/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./static/images/favicon-16x16.png")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="description", content="OEC Review is a repository of slideshow style study guides for the NSP Outdoor Emergency Care certification exam")
    meta(name="google" content="nositelinkssearchbox")
    meta(name="google" content="notranslate")
    meta(name="subject" content="Outdoor Emergency Care course by the National Ski Patrol")
    meta(name="rating" content="General")
    meta(name="theme-color" content="#db5945")
    link(rel="stylesheet", href="./static/styles/style.css")
    link(rel="manifest" href="./static/manifest.json")

    block extraHead

  body
    block content