extends ../layout.pug

block content
  .topBar
    .flex
      h1 OEC Review Slides
      a(href="http://github.com/crellison")
        img.git(src="static/Github-black.svg")
    p.desc This resouce is designed as a general study aide to prepare for the National Ski Patrol Outdoor Emergency Care Certification test. It is not affiliated with any official NSP publications and is not endorsed by NSP. The materials here cannot substitute for the OEC 5th Edition text and are not intended to act as a replacement to the text.
  .links
    - for (var i = 1; i < 37; i++) 
      a(href=`./${i}.html`)
        p= i<10 ? '0'+i : i
  .footer
    p &copy; 2016 Cole Ellison